* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c7efe0;
  color: #024f2e;
}

main {
  max-width: 960px;
  margin: 96px auto;
}

form {
  max-width: 448px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px 0;
}

input {
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #024f2e;
}

.input-error {
  color: #be3d0d;
  font-size: 14px;
}

.btn-success {
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: block;
  width: 100%;
  font-weight: 900;

  color: #fff;
  background-color: #024f2e;
}

.btn-success:disabled {
  background-color: #fff;
  color: #024f2e;
}

.hidden {
  display: none;
}

#successMessage {
  color: #024f2e;
  font-size: 25px;
}
