* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.booking {
  display: flex;
  gap: 2rem;
}

.appointment-details {
  display: flex;
  flex-direction: column;
  flex: 2;
  background: white;
  border-radius: 8px;
  gap: 1rem;
  padding: 1rem;
}

.appointment-details label {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
}

#date {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

fieldset {
  border: none;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.slot {
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.slot:hover {
  background-color: #ddd;
}

.summary {
  flex: 1;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  height: max-content;
}

.summary p {
  margin: 1rem 0;
}

#confirm {
  padding: 0.75rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirm:hover {
  background-color: #005fa3;
}

#confirm[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.hidden {
  display: none;
}

#confirmation {
  background-color: #e2eefb;
  border: 2px solid #a6aae1;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  max-width: 500px;
  margin: 3rem auto;
}

#confirmation-title {
  color: #090909;
  margin-top: 0;
  font-size: 2rem;
  border-bottom: 2px solid #2f2f2f;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

#confirmation div p {
  text-align: left;
  font-size: 1.1rem;
  padding: 0.3rem 0;
  border-bottom: 1px dotted #ccc;
}

#confirmation div p span {
  font-weight: bold;
  float: right;
  color: #333;
}
